* {
    box-sizing: border-box;
}

html, body{
    height: 100%;   
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/guitar-shop.jpg");
    background-repeat: repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;  
}

.gameContainer{

    padding-top: 5%;
}

.jumbotron{
    background-color: white;
    }
.hidden {
    margin-left: 5%;
    padding-left: 3%;
}

